footer {
    background-color: #542003;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.social_media {
    display: flex;
    flex-direction: row;
}

.social_media div {
    background-color: white;
    border-radius: 100px;
}